article{
	float: left;
	border-style: solid;
	border-width: 1px;
	margin-right: 1em;
	margin-bottom: 1em;
	padding: 1em;
}

aside{
	float:left;
	border-style: solid;
	border-width: 1px;
	border-radius: 1em;
	background-color: #FFFFC0;
	color: #2F5670;
	font-size: 14px;
	list-style-type: square;
	padding: 1em;
}

aside:hoover{
	transition: 1s ease-in-out;
}


body {
font-family: sans-serif;
#background-image:url('../images/ling-ling.png');
}
h1{
	padding: 12px;
	background-color: black;
	color:white;
	border-radius: 10px;
}

table, th, td{
	border: 1px solid white;
	border-collapse: collapse;
}

tr{
	background-color: silver;
}

th, td{
	vertical-align: top;
	padding: 0.5em;
	text-align: left;
}

ul.menu li{
	list-style-type: none;
	display: inline;
	padding: 10px;
	border-radius: 10px;
	background-color: black;
}
ul.menu li a{
	color: white;
	text-decoration: none;
}

ul.menu li.selected{
	color: yellow;
}

ul.menu li a:hoover{
	color: #99DDFF;
	text-decoration: underline;	
}    

