body {
font-family: sans-serif;
#background-image:url('../images/ling-ling.png');
}
h1{
	padding: 12px;
	background-color: black;
	color:white;
	border-radius: 10px;
}
ul.menu li{
	list-style-type: none;
	display: inline;
	padding: 10px;
	border-radius: 10px;
	background-color: black;
}
ul.menu li a{
	color: white;
	text-decoration: none;
}

ul.menu li.selected{
	color: yellow;
}

ul.menu li a:hoover{
	color: #99DDFF;
	text-decoration: underline;	
}    

